<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <h1>Create A New Pokemon</h1>

    <form class="all-buttons" action="/allPokemon" method="POST">
            
            Name<input type="text" name="" placeholder="name"><br>
            <br>

            Type<input type="text" name="" placeholder="type"><br>
            <br>
            
            HP<input type="text" name="" placeholder="hp"><br>
            <br>
            
            Attack<input type="text" name="" placeholder="attack"><br>
            <br>
            
            Defense<input type="text" name="" placeholder="defense"><br>
            <br>
            
            SP Attack<input type="text" name="" placeholder="sp attack"><br>
            <br>
            
            SP Defense<input type="text" name="" placeholder="sp defense"><br>
            <br>
            
            Speed<input type="text" name="" placeholder="speed"><br>
            <br>

            <input type="submit" name="Create Pokemon">
    </form>
</body>
</html>